*{
	margin: 0;
	padding: 0;
}
/*common start*/
body {

	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #121B2A;
}
/*common end*/
/*header start*/
header {
	background-color: #121B2A;
	padding: 10px 0;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	/*border: 1px solid red;*/
	overflow: hidden;
}

.logo {
	width: 15%;
	/*border: 1px solid white;*/
	float: left;
}
.logo img {
	width: 100%;
}

.menu {
	width: 70%;
	/*border: 1px solid white;*/
	float: right;
	padding-top: 10px;
	margin-top: 25px;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	padding: 5px 15px;
	display: block;
	color: #fff;
	transition: .3s;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #0078BD;
}
/*header end*/
/*banner start*/
.banner {
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.b_content {
	width: 45%;
	margin-top: 200px;
	margin-bottom: 50px;
}
.b_content p:first-child{	
	color: #fff;	
	font-size: 28px;
}
.b_content h1{
	color: #0174B9;
	font-size: 35px;
}
.b_content p:nth-last-child(2){	
	color: #fff;		
	font-size: 18px;		
	line-height: 1.5;
}
.b_content button{
	border: none;
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 15px;
	color: #575757;
}
.b_content button span{	
	border-radius: 50%;	
	background-color: #0178BD;	
	padding: 5px 10px;	
	color: #fff;	
	margin-left: 10px;
}
/*banner end*/
/*service start*/
.service {
	background-color: #121B2C;
	padding: 50px 0;
}

.wrapper {
}
.single{
	width: 29%;
	border-right: 1px solid #1A2430;
	padding: 10px 20px;
	float: left;
	margin-left: 5px;
}
.single:last-child{
	border-right: 0;
}
.single:last-child h2{
	margin-top: 25px;
}
.single:last-child span{
	color: #fff;
}
.title {
	overflow: hidden;
	/*border: 1px solid blue;*/
}

.icon {
	width: 25%;
	/*border: 1px solid red;*/
	float: left;
}
.icon img{
	width: 100%;
}

.icon-content {
	/*border: 1px solid red;*/
	width: 70%;
	float: left;
	margin-top: 7px;
}
.icon-content h1{
	color: #fff;
	font-weight: normal;
}
.icon-content h2{
	color: #0178BD;
	font-weight: normal;
}
.content {
}
.content p{
    color: #fff;
    line-height: 1.5;
}
/*service end*/